#apply-div{
    display: flex;
    flex-direction: column;
    background: linear-gradient(#EEF2F8, white);
}

#apply-div2{
    justify-items: center;
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 120px 20px 80px 20px;
}

#apply-div2 > div{
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px #E4E5E6 solid;
    border-radius: 10px;
    background-color: #F9F9FA;
    width: 480px;
    height: 230px;
}

#apply-div2 > div > p{
    margin-top: -5px;
}

#apply-div2 > div > p:first-child{
    color:black;
    font-weight: 600;
    font-size: 23px;
    flex-basis: 20%;
    margin-bottom: 5px;
}

#apply-div2 > div > p:nth-child(2){
    color:black;
    font-weight: 600;
    flex-basis: 10%;
    font-size: 14px;
}

#apply-div2 > div > p:last-child{
    color:#B4B5B6;
    font-weight: 600;
    flex-basis: 20%;
    margin-top: -20px;
}

#apply-div2 > div:hover{
    background-color: white;
    box-shadow: 0px 0px 10px -3px rgb(0 0 0 / 0.1), 
    0px 0px 10px -3px rgb(0 0 0 / 0.1),
    0px 0px 10px -3px rgb(0 0 0 / 0.1), 
    0px 0px 10px -3px rgb(0 0 0 / 0.1);
    transition: 0.5s ease-in-out;
}

#apply-div2 > div:not(:hover){
    background-color: #F9F9FA;
    transition: 0.5s ease-in-out;
}

#apply-div2 > div:hover >p:last-child{
    color: #999999;
    transition: 0.5s ease-in-out;
}

#apply-div2 > div:not(:hover) >p:last-child{
    color: #B7B7B7;
    transition: 0.5s ease-in-out;
}

#cd2-btndiv{
    display: flex;
    flex-basis: 50%;
    align-items: flex-end;
}

#cd2-btndiv > button{
    background-color: transparent;
    color:transparent;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    width:130px;
    height: 35px;
    border: 1px transparent solid;
    border-radius: 20px;
    font-size: 13px;
    margin-top: 30px;
}

#apply-div2 > div:hover > #cd2-btndiv > button{
    background-color: #0D5A9A;
    color:white;
    transition: 0.3s ease-in-out;
}

#apply-div2 > div:not(:hover) > #cd2-btndiv > button{
    background-color: transparent;
    color:transparent;
    transition: 0.3s ease-in-out;
}

#apply-div2 > div:hover > #cd2-btndiv > button:hover{
    background-color: #3D7BAE;
    transition: 0.3s ease-in-out;
}

#apply-div2 > div:hover > #cd2-btndiv > button:not(:hover){
    background-color: #0D5A9A;
    transition: 0.3s ease-in-out;
}

body.active-modal {
    overflow-y: hidden;
}

.btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49,49,49,0.8);
}
.modal-content {
    display: flex;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 10px;
    max-width: 800px;
    min-width: 300px;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}

/* .modal-header > div{
    display: flex;
    flex-direction: column;
}

.modal-header > div > p:last-child{
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: #333333;
}

.modal-body {
    display: flex;
} */

ul {
    display: flex;
    margin-top: 80px;
}

ul li {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px 15px;
}

ul li .text{
    font-size: 12px;
    font-weight: 600;
    color: black;
}

ul li .progress{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(68, 68, 68, 0.781);
    margin: 14px 0;
    display: grid;
    place-items: center;
    color: #fff;
    position: relative;
}

.progress::after{
    content: " ";
    position: absolute;
    width: 90px;
    height: 5px;
    background-color: rgba(68, 68, 68, 0.781);
    right: 30px;
}

/* .progress::after{
    width: 0;
    height: 0;
} */

ul li .progress p{
    font-size: 10px;
}
