#apply-div{
    display: flex;
    flex-direction: column;
    background: linear-gradient(#EEF2F8, white);
    align-items: center;
}

#apply-div-adm{
    display: flex;
    flex-direction: column;
    background: linear-gradient(#EEF2F8, white);
    align-items: center;
    padding-left: 200px;
}

#apply-title{
    margin-top: 100px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

#apply-div-adm > #apply-title{
    margin-top: 100px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

#apply-table{
    margin-top: 30px;
    width: 70%;
    margin-bottom: 250px;
    border: 1px black solid;
    border-radius: 10px;
    padding: 5px;
}

#apply-table > thead > tr >th{
    border-bottom: 1px black solid;
    margin-bottom: 10px;
}

#apply-table > tbody > tr >td{
    border-bottom: 1px black solid;
    margin-bottom: 10px;
}

#data-tb-apply{
    width: 80%;
    border: 1px solid #EDEDEE;
    margin-bottom:200px;
    border-radius: 10px;
}

.rdt_Table{
    border-radius: 10px;
}

#input-filter{
    display: flex;
    justify-content: flex-start;
    padding-right: 50%;
    width: 30%;
}

#input-filter > input{
    outline: transparent;
}

.apply-search-icon{
    position: absolute;
    margin: 17px 5px 5px 260px;
}

.toast {
    align-items: left;
    justify-content: left;
    display: flex;
}

#btn-cv{
    color: #4d79ff;
}

#btn-itv{
    /* background-color: #ff8c1a;
    border: 1px #ff8c1a solid;
    border-radius: 5px; */
    color: #ff8c1a;
}

#btn-check{
    /* background-color: #93C953;
    border: 1px #93C953 solid;
    border-radius: 5px; */
    color: #93C953;
}

#btn-x{
    /* background-color: #aa222f;
    border: 1px #aa222f solid;
    border-radius: 5px; */
    color: #aa222f;
}

#apply-table-adm{
    padding-top: 50px;
    padding-left: 330px;
    padding-right: 100px;
    margin-bottom: 100px;
}