.container {
    /* background-color: red; */
    height: 651px;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.table {
    width: 100%;
    /* flex-direction: column; */
    text-align: left;
}

.table-content {
    /* text-align: center; */
}

.toast {
    align-items: left;
    justify-content: left;
    display: flex;
    /* text-align: left; */
}